div {
  position: absolute;
  text-align: center;
  width: 500px;
  margin-left: 200px;
  margin-right: 0px;
}
p{
  position: relative;
  text-align: justify;
}
button {
  margin-left: 21px;
  position: relative;
}
