h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
}

.matchs-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  mat-card {
    width: 300px;
    margin: 20px;
  }
}
