<h1>Profil</h1>

<form [formGroup]="userForm" (ngSubmit)="updateProfile()">

  <app-firstname-form-field [parentFormGroup]="userForm"></app-firstname-form-field>
  <app-lastname-form-field [parentFormGroup]="userForm"></app-lastname-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Domaine d'apprentissage</mat-label>
    <mat-select [compareWith]="compareIds" formControlName="tags" multiple>
      <mat-option *ngFor="let tag of (tags$ | async)" [value]="tag">
        {{tag.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit">Enregistrer</button>
</form>
