<form [formGroup]="parentFormGroup">
  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="passwordControl.hasError('required')">
      Le mot de passe est obligatoire
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
      Le mot de passe doit faire plus de 6 caractères
    </mat-error>
  </mat-form-field>
</form>
