<h1> Page de connexion </h1>

<form [formGroup]="userForm" (ngSubmit)="signin()">
  <app-email-form-field [parentFormGroup]="userForm"></app-email-form-field>
  <app-password-form-field [parentFormGroup]="userForm"></app-password-form-field>
  <button mat-raised-button color="accent" type="submit">Connexion</button>
</form>

















<!--<form >-->
<!--  <mat-form-field appearance="legacy">-->
<!--    <mat-label>Email</mat-label>-->
<!--    <input matInput type="email" placeholder="Email" formControlName="email">-->
<!--    <mat-error *ngIf="userForm.controls.email.hasError('email') && !userForm.controls.email.hasError('required')">-->
<!--      L'email n'est pas valide-->
<!--    </mat-error>-->
<!--    <mat-error *ngIf="userForm.controls.email.hasError('required')">-->
<!--      L'email est <b>obligatoire</b>-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="legacy">-->
<!--    <mat-label>Mot de passe</mat-label>-->
<!--    <input matInput type="password" placeholder="Mot de passe" formControlName="password">-->
<!--    <mat-error *ngIf="userForm.controls.password.hasError('minLength') && !userForm.controls.password.hasError('required')">-->
<!--      Le mot de passe doit avoir au minimum 6 caractères.-->
<!--    </mat-error>-->
<!--    <mat-error *ngIf="userForm.controls.password.hasError('required')">-->
<!--      Le mot de passe est <b>obligatoire</b>-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--  <button type="submit" mat-raised-button color="accent" >-->
<!--    Connexion-->
<!--  </button>-->
<!--</form>-->
